<div data-ng-init="presentation=false;games=false;groups=false;pitch=false;tools=false;">
    <div class="row">
        <h1 class="page-header">Séance 1</h1>
        <h2>Déroulement</h2>
        <ul>
            <li><a href="assets/presentation.html" target="_blank">Présentation</a></li>
            <li><a href data-ng-click="games = !games">Découverte de jeux indépendants</a></li>
            <li><a href data-ng-click="groups = !groups">Les métiers</a></li>
            <li><a href data-ng-click="pitch = !pitch">Définir le pitch du jeu</a></li>
            <li><a href data-ng-click="tools = !tools">Découvrir les outils</a></li>
        </ul>
    </div>
    <div id="games" class="row" data-ng-if="games">
        <h2>Jeux à tester</h2>
        <p>Qu'est-ce qu'un jeu "indie" (indépendant) ? En voici quelqu'uns</p>
        <table class="table table-hover">
            <tr>
                <th>URL</th><th>type</th><th>objectif</th>
            </tr>
            <tr data-ng-repeat="game in ctrl.games">
                <td><a href="{{ game.url }}">{{ game.url }}</a></td>
                <td>{{ game.type }}</td>
                <td>{{ game.description }}</td>
            </tr>
        </table>
    </div>
    <div id="groups" class="row" data-ng-if="games">
        <h2>Les métiers du jeu vidéo</h2>
    </div>
</div>
